In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.sample(10)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
16026,NaN,tv,Documentary,2022.0,NaN,NaN,NaN,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
9747,Dafne,movie,Drama,2019.0,tt8452422,6.4,306.0,"AL, AT, BA, BE, BG, CH, CZ, DE, EE, ES, FI, FR..."
8665,Birds of Prey,movie,"Action, Comedy, Crime",2020.0,tt7713068,6.1,269733.0,"AD, CH, ES, FJ, HK, ID, IN, IT, JP, KR, MY, PH..."
10634,Lady of the Damned Forest,movie,"Adventure, Fantasy, Horror",2017.0,tt1837683,2.6,232.0,"AT, BE, BG, CH, CY, CZ, DE, DK, EE, ES, FI, FR..."
11860,Joyride,movie,"Comedy, Drama",2022.0,tt13515090,6.1,2835.0,"GB, GG, IE, MT"
8794,The Package,movie,"Comedy, Thriller",2018.0,tt7525778,5.6,21931.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
5411,Status: It's Complicated!,movie,"Comedy, Romance",2013.0,tt3315416,5.1,60.0,PH
16623,Diary of Tootsies,tv,"Comedy, Drama, Romance",2016.0,tt6453014,7.5,168.0,TH
13827,The Shop at Sly Corner,movie,"Drama, Thriller",1946.0,tt0265744,7.0,95.0,"AT, BE, BG, CZ, DE, DK, EE, ES, FI, FR, GR, HR..."
7596,Le grand bidule,movie,Comedy,1967.0,tt0141140,4.0,52.0,MT

In [3]:
df = df.drop(columns = ['imdbId'])

In [4]:
df= df.rename(columns={
    "title": "Movie_Title",
    "type": "Content_Type",
    "genres": "Genres",
    "releaseYear": "Release_Year",
    "imdbAverageRating": "IMDB_Rating",
    "imdbNumVotes": "IMDB_Votes",
    "availableCountries": "Available_Countries"})

In [5]:
df.columns

Index(['Movie_Title', 'Content_Type', 'Genres', 'Release_Year', 'IMDB_Rating',
       'IMDB_Votes', 'Available_Countries'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20148 entries, 0 to 20147
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Movie_Title          19632 non-null  object
 1   Content_Type         20148 non-null  object
 2   Genres               19886 non-null  object
 3   Release_Year         20133 non-null  float64
 4   IMDB_Rating          18727 non-null  float64
 5   IMDB_Votes           18727 non-null  float64
 6   Available_Countries  20148 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [7]:
df.isna().sum()

Movie_Title             516
Content_Type              0
Genres                  262
Release_Year             15
IMDB_Rating            1421
IMDB_Votes             1421
Available_Countries       0
dtype: int64

In [8]:
df.isna().mean() * 100

Movie_Title            2.561048
Content_Type           0.000000
Genres                 1.300377
Release_Year           0.074449
IMDB_Rating            7.052809
IMDB_Votes             7.052809
Available_Countries    0.000000
dtype: float64

In [9]:
df = df.drop_duplicates()

In [10]:
df.isna().mean() * 100

Movie_Title            2.153110
Content_Type           0.000000
Genres                 1.260965
Release_Year           0.074761
IMDB_Rating            6.663676
IMDB_Votes             6.663676
Available_Countries    0.000000
dtype: float64

In [11]:
df = df.dropna(subset=["Movie_Title","Release_Year"])
df.isna().sum()

Movie_Title              0
Content_Type             0
Genres                 138
Release_Year             0
IMDB_Rating            903
IMDB_Votes             903
Available_Countries      0
dtype: int64

In [12]:
df["Genres"]= df["Genres"].fillna("Unknown")

In [13]:
df.isna().sum()

Movie_Title              0
Content_Type             0
Genres                   0
Release_Year             0
IMDB_Rating            903
IMDB_Votes             903
Available_Countries      0
dtype: int64

In [14]:
df[["IMDB_Rating","IMDB_Votes"]]=df[["IMDB_Rating","IMDB_Votes"]].fillna(0)

In [15]:
df.isna().sum()

Movie_Title            0
Content_Type           0
Genres                 0
Release_Year           0
IMDB_Rating            0
IMDB_Votes             0
Available_Countries    0
dtype: int64

In [16]:
df = df.assign(Genres=df['Genres'].str.split(', ')).explode('Genres')

In [17]:
df = df.assign(Available_Countries=df['Available_Countries'].str.split(', ')).explode('Available_Countries')

In [18]:
df.head()

,Movie_Title,Content_Type,Genres,Release_Year,IMDB_Rating,IMDB_Votes,Available_Countries
0,Forrest Gump,movie,Drama,1994.0,8.8,2316353.0,MX
0,Forrest Gump,movie,Romance,1994.0,8.8,2316353.0,MX
1,The Fifth Element,movie,Action,1997.0,7.6,517121.0,AT
1,The Fifth Element,movie,Action,1997.0,7.6,517121.0,CH
1,The Fifth Element,movie,Action,1997.0,7.6,517121.0,DE

In [19]:
df["Release_Year"] = df["Release_Year"].astype("Int64")

In [20]:
df.head()

,Movie_Title,Content_Type,Genres,Release_Year,IMDB_Rating,IMDB_Votes,Available_Countries
0,Forrest Gump,movie,Drama,1994,8.8,2316353.0,MX
0,Forrest Gump,movie,Romance,1994,8.8,2316353.0,MX
1,The Fifth Element,movie,Action,1997,7.6,517121.0,AT
1,The Fifth Element,movie,Action,1997,7.6,517121.0,CH
1,The Fifth Element,movie,Action,1997,7.6,517121.0,DE

In [21]:
df.to_csv("movies_data.csv", index=False)