In [1]:
!pip install mysql-connector-python pandas sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\akees\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\users\akees\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\akees\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\akees\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\akees\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akees\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akees\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akees\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akees\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akees\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\akees\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql+pymysql://root:Niramayi@127.0.0.1:3306/netflix")

In [4]:
df = pd.read_csv("movies_data.csv")

df.to_sql("Data" ,con = engine,if_exists = "replace",index = False )

C:\Users\akees\AppData\Local\Temp\ipykernel_1744\658502465.py:3: UserWarning: The provided table name 'Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("Data" ,con = engine,if_exists = "replace",index = False )

2008205